@import "theme/source/simple.scss"

@import url(http://fonts.googleapis.com/css?family=Signika:400,700,300&subset=latin,latin-ext)

.clearfix:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

.clearfix
  display: inline-block

html .clearfix
  display: block

* html .clearfix
  height: 1%

.slides

  .title
    font-size: 9em
    line-height: 0.7em
    font-weight: 700

  .subtitle
    font-size: 2em
    letter-spacing: 0.03em
    font-weight: 100

  .white-text
    color: #fbfbfb
    h2, h1
      color: #fbfbfb

  h1, h2
    font-family: 'Signika', sans-serif
    text-shadow: none
    font-weight: 700

  h2:first-child
    margin-bottom: 40px

  footer
    margin-top: 80px

  .footnote
    font-size: 0.8em
    color: #aaa

  .section
    margin: 20px 0

  .notice
    border: 1px solid #fbfbfb
    padding: 20px 20px